/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@include media-breakpoint-down(sm) {
    .row{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .col-4 {
         width: 98%;
    }

    .img-fluid{
        margin-bottom: 30px;
    }

    .img-fluid{
        height: 320px;
        max-width: none;
    }
}

@include media-breakpoint-between(sm, md) {
.img-fluid{
    height: 15em;
    max-width: none;
}
}

@include media-breakpoint-between(md, lg) {
    
    .img-fluid{
        height: 320px;
        max-width: none;
    }
    
}

@include media-breakpoint-up(lg) {
    
    .img-fluid{
        height: 430px;
        max-width: none;
    }
    
}

